<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <h1>商品新規登録</h1>
    </div>
  </div>
  <div class="item-new">
      <%= form_with model:@item, url:admin_items_path, local:true do |f| %>
        <p><%= f.label :image, '商品画像' %>
        <%= f.attachment_field :image %></p>
        <p><%= f.label :name, '商品名' %>
        <%= f.text_field :name %></p>
        <p><%= f.label :introduction, '商品説明' %>
        <%= f.text_area :introduction %></p>
        <p><%= f.label :genre_id,'ジャンル' %>
        <%= f.collection_select(:genre_id, Genre.all, :id, :name, {prompt: "==選択してください=="} ) %></p>
        <p><%= f.label :price,'税抜き価格' %>
        <%= f.text_field :price %> 円</p>
        <p><%= f.label :is_deleted,'販売ステータス' %>
        <%= f.radio_button :is_deleted, "0" %>販売中 <%= f.radio_button :is_deleted, "1" %>販売停止中</p>
        <p><%= f.submit '新規登録', class: "btn btn-secondary" %></p>
      <% end %>
    </div>
  </div>
  </div>