<h2><%= @customer.full_name %>さんの会員情報編集ページ</h2>
<table>
  <tr>
    <td>会員ID</td>
    <td><%= @customer.id %></td>
  </tr>
  <%= form_with model:@customer, url:admin_customer_path(@customer), local:true do |f| %>
    <tr>
      <td>氏名</td>
      <td><%= f.text_field :first_name %></td>
      <td><%= f.text_field :last_name %></td>
    </tr>
    <tr>
      <td>フリガナ</td>
      <td><%= f.text_field :first_name_kana %></td>
      <td><%= f.text_field :last_name_kana %></td>
    </tr>
      <tr>
      <td>郵便番号</td>
      <td><%= f.text_field :postal_code %></td>
    </tr>
      <tr>
      <td>住所</td>
      <td><%= f.text_field :address %></td>
    </tr>
      <tr>
      <td>電話番号</td>
      <td><%= f.text_field :telephone_number %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= f.text_field :email %></td>
    </tr>
    <tr>
      <td>会員ステータス</td>
      <td>
        <%= f.radio_button :is_deleted, "0" %>有効 <%= f.radio_button :is_deleted, "1" %>退会済み</p>
      </td>
    </tr>
    <%= f.submit '編集する', class: "btn btn-primary" %>
  <% end %>