<div class="row">
    <div class="col-12">
      <h1>注文履歴詳細</h1>
      <table class='table table-hover table-inverse'>
        <%# @order.each do |o| %>
        <tr>
          <td>購入者</td>
          <td><%= @order.name %></td>
        </tr>
        <tr>
          <td>注文日</td>
          <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
        </tr>
        <tr>
          <td>配送先</td>
          <td><%= @order.address %></td>
        </tr>
        <tr>
          <td>支払い方法</td>
          <td><%= @order.payment_method %></td>
        </tr>
        <tr>
          <td>ステータス</td>
          <td><%= @order.status %></td>
          <%= form_with model:@order, url: admin_order_path(@order), method: :patch, local: true do |f| %>
              <%#= f.collection_select(:making_status, detail, :id, :making_status, {prompt: "==選択してください=="} ) %>
            	<%#= f.select :making_status, [ ["着手不可", 0], ["制作待ち", 1], ["製作中", 2], ["制作完了", 3] ] %>
            	<td><%= f.select :status, Order.statuses %> <%= f.submit '更新', class: "btn btn-sm btn-success" %></td>
            	<%#= f.select :status, {0: '入金待ち', 1: '入金確認', 2: '製作中', 3: '発送準備中', 4: '発送済み'} %>
            <% end %>
        </tr>
      </table>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価(税込み)</th>
            <th>数量</th>
            <th>小計</th>
            <th>製作ステータス</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <% @order.order_details.each do |detail|%>
            <td><%= detail.item.name %></td>
            <td><%= detail.price %></td>
            <!--orderモデルに定義↓-->
            <td><%= detail.amount%></td>
            <td><%= detail.price * detail. amount %></td>
            <%= @total += detail.price * detail.amount %>
            <%= form_with model:detail, url: admin_order_detail_path(detail.id), method: :patch, local: true do |f| %>
            <td>
              <%#= f.collection_select(:making_status, detail, :id, :making_status, {prompt: "==選択してください=="} ) %>
            	<%#= f.select :making_status, [ ["着手不可", "着手不可"], ["制作待ち", "制作待ち"], ["製作中", "製作中"], ["製作完了", "製作完了"] ] %>
            	<%= f.select :making_status, OrderDetail.making_statuses.keys %>
            	<%#= f.select :making_status, OrderDetail.making_statuses %>
            	<%= f.submit '更新', class: "btn btn-sm btn-success" %>
            <% end %>
            </td>
          </tr>
            <% end %>
        </tbody>
      </table>

      <table>
        <tr>
          <td>商品合計</td>
          <td><%= @total %></td>
        </tr>
        <tr>
          <td>送料</td>
          <td><%= @order.shipping_cost %></td>
          <!--800べたうちにする？-->
        </tr>
        <tr>
          <td>請求金額合計</td>
          <td><%= @total + @order.shipping_cost %></td>
        </tr>
      </table>
  </div>
</div>