<div class="container">
  <div class="row">
    <div class='mx-auto col-11 col-sm-10 col-lg-8 col-xl-6'>
      <h2>管理者用ログイン</h2>
      <div class="btn-wrapper col-10 mx-auto">
        <div class="row">
          <%= form_with model: @admin, url: admin_session_path, local: true do |f| %>
          <div class="field">
            <%= f.label :email %>
            <%= f.text_field :email, autofocus: true, class: "email" %>
          </div>
          <div class="field">
            <%= f.label :password %>
            <%= f.password_field :password, autocomplete: "off", class: "password" %>
          </div>

          <div class="actions">
            <%= f.submit "ログイン" ,class: 'btn btn-sm btn-primary' %>
          </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
