<div class="container">
  <div class="row">
    <p><%= attachment_image_tag(@item, :image, size: "40x40") %></p>
    <%= @item.name %>
    <%= @item.introduction %>
    <p>￥<%= @item.price * 1.1 %>(税込)</p>

    <%= form_with model: @cart_item, url: public_cart_items_path, method: :post, local: true do |f| %>
      <%#= f.hidden_field :item_id, :value => @item.id %></br>
      <!--商品の情報（@item）を保存できる-->
      <%= f.select :amount, [["1", 1], ["2", 2], ["3", 3], ["4", 4]] , include_blank: "個数選択" %>
      <%= f.submit 'カートに入れる' %>
    <% end %>
  </div>
</div>